<include file="administrator" />
<div class="hgcard col-sm-9" style="margin-top:20px;">
    <p class="alert alert-danger">密码修改<span class="glyphicon glyphicon-menu-right"></span></p>
    <form class="form-horizontal" id="changepwd" action="{:U('Index/resetpwd')}" method="post" id="changpwd">
	<div class="form-group ">
        <label for="password" class="col-sm-2  control-label">旧密码 :</label>
        <div class="col-sm-10  input-parent">
          <input type="password" class="form-control vinput" id="pwd" name="pwd" placeholder="请输入旧密码"/>
        </div>
      </div>
    <div class="form-group ">
        <label for="password" class="col-sm-2  control-label">新密码 :</label>
        <div class="col-sm-10  input-parent">
          <input type="password" class="form-control vinput" id="password" name="password" placeholder="请输入密码"/>
          <i class="glyphicon glyphicon-eye-close form-control-feedback" id="toogle-password"></i>
          <span></span>
        </div>
      </div>
      <div class="form-group">
        <label for="notpass" class="col-sm-2  control-label">确认密码 :</label>
        <div class="col-sm-10  input-parent">
          <input type="password" class="form-control vinput" id="notpass" name="notpass" placeholder="请再次输入密码"/>
          <i class="glyphicon glyphicon-eye-close form-control-feedback" id="toggle-notpass"></i>
          <span></span>
        </div>
      </div>

      <div class="form-group" style="float:right;margin-bottom:100px;">
        <div class="col-sm-12 input-parent">
            <button type="submit" class="btn btn-primary">提交</button>
            <button type="reset" class="btn btn-default">取消</button>
        </div>
      </div>
    </form>
    </div>
	</div>
	</div>
     <footer>
  <nav class="navbar text-center navbar-fixed-bottom">
      Copyright xxx Gan su Meteorological Society<br>
      甘肃省气象学会 &copy;版权所有
  </nav>
</footer>