<include file="administrator" />
<div class="chengji col-sm-9" style="margin-top:20px;">
    <p class="alert alert-danger">成绩录入<span class="glyphicon glyphicon-menu-right"></span></p>
    <form action="{:U('Exammanage/chengji')}" class="form-horizontal" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file" class="col-sm-2  control-label">选择文件 :</label>
        <div class="col-sm-8  input-parent">
          <input type="file" class="form-control vinput" id="lefile" name="excelData" style="display:none;">   
		  <input id="photoCover" class="form-control vinput col-sm-8" type="text" name="realfile" onclick="$('input[id=lefile]').click();">      
        </div>
        <div class="col-sm-2  input-parent">
          <a class="btn btn-primary" onclick="$('input[id=lefile]').click();">浏览</a>      
        </div>
     </div>
    <div class="form-group">
    <div class="col-sm-2 col-sm-offset-10">
      <button class="btn btn-primary" type="submit" id="upload">导入考试信息</button>
	</div>
	</div>
	</form>
</div>
</div>
</div>
<footer>
  <nav class="navbar text-center navbar-fixed-bottom">
      Copyright xxx Gan su Meteorological Society<br>
      甘肃省气象学会 &copy;版权所有
  </nav>
</footer>
<script type="text/javascript">  
$('input[id=lefile]').change(function() {  
$('#photoCover').val($(this).val());  
});  
</script> 